<h1>About the 4-H GKC</h1>
<p>The 4-H Global Knowledge Center was founded to help youths in developing countries build better futures for themselves through agricultural knowledge, leadership, and strong relationships with each other and the rest of the world.</p>

<h2>4-H’s Global Footprint</h2>
<p>4-H programs have taken root in more than 70 countries in North, South, and Central America, Europe, Asia, and Africa. Worldwide, 4-H programs operate autonomously but they all share the goal of improving the lives of millions of young people and their families. Around the world, 4-H has been proven an effective tool for agricultural and economic development.
</p>

<h2>Urgent Needs — Hunger, Food Security, Livelihoods</h2>
<p>Globally, there are more than 1.3 billion young people ages 12 to 24. Many of these are rural youth without access to resources to develop a viable future. With its global reach, 4-H is uniquely positioned to prepare the world’s young people to meet urgent global needs, including hunger, sustainable livelihoods and food security. Worldwide, the demand for 4-H opportunities is growing.</p>

<h2>Mobilizing Partners Around the World</h2>
<p>In response to world demand, National 4-H Council joined with National 4-H Headquarters in USDA’s National Institute for Food and Agriculture (NIFA), Cooperative Extension, and private sector partners to link 4-H programs around the world. Founding partners are the Bill and Melinda Gates Foundation, Cargill, DuPont Corporation, Motorola Foundation, and the Nike Foundation. Over the next five years, a network will form that employs the 4-H model to create sustainable livelihoods and improve economic security for young people around the world. The network will work in three phases with these over-arching goals:</p>

<ul>
    <li>Provide technical assistance that improves practices in both agriculture and positive youth development.</li>
    <li>Create Web-based, culturally relevant resources and tools accessible to 4-H partners worldwide.</li>
    <li>Build a 4-H network that links 4-H programs around the world for greater impact and scale.</li>
</ul>

<br>

<h2>Moving Forward</h2>
<h2>Phase 1 – Test the model with an African partner</h2>

<p>Tanzania 4-H is our partner for the first year of the initiative. The lessons learned in the first year will provide guidance to 4-H leaders in African and other countries.
</p>

<h2>Phase 2 – Expand services to African and Asian 4-H partners reaching 250,000 youth within 5 years.</h2>

<p>Partnerships with mature and emerging African and Asian 4-H programs will bring 4-H resources to bear on the issues of hunger, food security, and sustainable livelihoods.</p>

<h2>Phase 3 – Engage 4-H partners around the world</h2>

<p>Extend the services of the network to reach millions of young people and their families.</p>

<h2>Thank You!</h2>
<p>We thank our founding partners for their investment in global 4-H programs and the millions of young people they serve!</p>

